.blurry_background {
    display: inline-block;
    width: 45%;
    height: auto;
    margin-top: 2vw;
    margin-left: 3vw;
    padding-bottom: 2vw;
    padding-top: 1vw;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.5);
}

.home_header {
    display: inline-block;
    font-size: 4vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 900;
    text-shadow: 2px 2px rgb(255, 255, 255);
    -webkit-text-stroke: 0.1vw white;
    position: absolute;
    top: 4vw;
    left: 6vw;
}

.info {
    display: inline-block;
    padding-top: 6vw;
    padding-left: 3.3vw;
    width: auto;
    line-height: 2.2vw;
    font-family: 'Perfect DOS VGA 437';
    font-size: 2vw;
    text-shadow: 2px 2px rgb(255, 255, 255);
}

.separator {
    display: block;
    text-align: center;
    margin-left: auto; margin-right: auto;
    margin-bottom: 1vw;
    width: 50vw;
    height: 0.4vw;
    background-color: white;
    border-top: solid rgb(177, 177, 177) 1px;
    border-radius: 0.2vw;
}

.formularz {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    line-height: 1vw;
    margin-top: 6vw;
    margin-left: 5vw;
    margin-right: auto;
}
        label {
            display: inline-block;
            font-family: 'Perfect DOS VGA 437';
            font-size: 1.5vw;
            padding: 0.3vw;
            text-shadow: 2px 2px rgb(0, 0, 0);
            color: white;
            width: 35vw;
            background-color: rgb(60, 103, 255);
        }

        input {
            display: inline-block;
            width: 35vw;
            height: 2vw;
            margin-bottom: 1vw;
            background-color: rgba(255, 255, 255, 0.5);
        }

        .button, .button:focus, .button:focus-within {
            display: inline-block;
            width: 10vw;
            height: 2vw;
            background-color: rgba(255, 255, 255, 0.5);
            font-family: 'Perfect DOS VGA 437';
            font-size: 18px;
            border-style: outset;
        }

                .button:active {
                    border-style: inset;
                    background-color: rgb(118, 118, 118);
                }
        
        textarea {
            display: inline-block;
            width: 35vw;
            height: 100px;
            vertical-align: top;
            margin-bottom: 1vw;
            background-color: rgba(255, 255, 255, 0.5);
        }

        input:focus, input:focus-visible, input:focus-within, input:active {
            border: none;
        }

        ::placeholder {
            font-family: 'Perfect DOS VGA 437';
            font-size: 18px;
            color:rgb(52, 52, 52);
        }

