.blurry_background {
    text-align: center;
    width: 95%;
    height: auto;
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1vw;
    padding-top: 1vw;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.5);
}

.home_header {
    display: inline-block;
    font-size: 4vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 900;
    text-shadow: 2px 2px rgb(255, 255, 255);
    -webkit-text-stroke: 0.1vw white;
    position: absolute;
    top: 2vw;
    left: 3vw;
}

.info {
    display: inline-block;
    padding-top: 7vw;
    padding-left: 3.3vw;
    width: 33vw;
    line-height: 2.2vw;
    font-family: 'Perfect DOS VGA 437';
    font-size: 2vw;
    text-shadow: 2px 2px rgb(255, 255, 255);
}

.separator {
    display: block;
    text-align: center;
    margin-left: auto; margin-right: auto;
    margin-bottom: 1vw;
    width: 50vw;
    height: 0.4vw;
    background-color: white;
}