.blurry_background {
    text-align: center;
    width: 95%;
    height: auto;
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1vw;
    padding-top: 1vw;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.5);
}

.home_header {
    padding-top: 2vw;
    font-size: 4vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 900;
    text-shadow: 2px 2px rgb(255, 255, 255);
    -webkit-text-stroke: 1.5px white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

table {
    margin-left: 10vw;
    margin-right: 10vw;
}

td {
    width: 50%;
    text-align: center;
    text-shadow: 2px 2px rgb(255, 255, 255);
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
    font-size: 1vw;
    font-family: 'Perfect DOS VGA 437';
    border: solid black 1px;
}

.text {
    display: inline-block;
    text-align: center;
    text-shadow: 2px 2px rgb(255, 255, 255);
    font-size: 2.2vw;
    font-family: 'Perfect DOS VGA 437';
    margin-top: 2vw; margin-bottom: 2vw;
    margin-left: 5vw; margin-right: 5vw;
}

.gallery_container {
    display: inline-block;
    text-align: center;
    width: 50vw;
}

.image_container {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin-top: 2vw;

}

.gallery_item {
    border: ridge rgb(255, 255, 255) 10px;
    width: auto;
    height: 200px;
}
