.blurry_background {
    text-align: left;
    width: 95%;
    height: auto;
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1vw;
    padding-top: 1vw;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.5);
}

.home_header {
    padding-top: 2vw;
    font-size: 4vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 900;
    text-shadow: 2px 2px rgb(255, 255, 255);
    -webkit-text-stroke: 1.5px white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

table {
    margin-left: 10vw;
    margin-right: 10vw;
}

td {
    width: 50%;
    text-align: center;
    text-shadow: 2px 2px rgb(255, 255, 255);
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
    font-size: 1vw;
    font-family: 'Perfect DOS VGA 437';
    border: solid black 1px;
}

.text {
    display: inline-block;
    text-align: center;
    text-shadow: 2px 2px rgb(255, 255, 255);
    font-size: 2.2vw;
    font-family: 'Perfect DOS VGA 437';
    margin-top: 2vw; margin-bottom: 2vw;
    margin-left: 5vw; margin-right: 5vw;
}

.separator {
    display: block;
    text-align: center;
    margin-left: auto; margin-right: auto;
    margin-bottom: 1vw;
    width: 50vw;
    height: 0.4vw;
    background-color: white;
}

.gallery_container {
    display: inline-block;
    margin-left: 5vw
}

        .image_container {
            display: inline-block;
            vertical-align: top;
            width: auto; height: 100%;

        }

                .gallery_item {
                    border: ridge rgb(255, 255, 255) 6px;
                    width: auto; height: 200px;
                    margin-top: 2vw;
                }

                span {
                    display: block;
                    text-align: left;
                    padding-top: 1px;
                    padding-left: 1vw; padding-right: 1vw;
                    font-family: 'Perfect DOS VGA 437';
                    font-size: 1.3vw;
                    font-style: italic;
                    color: white;
                    background-color: rgb(0, 0, 0);
                }

img {
    transition:transform 0.25s ease;
}

img:hover {
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
}

.gallery_info {
    display: inline-block;
    vertical-align: top;
    padding-top: 2vw;
    padding-left: 1vw;
    margin-right: 0;
    height: auto;
    width:31vw;
    font-family: 'Perfect DOS VGA 437';
    font-size: 25px;
    line-height: 2.2vw;
    text-shadow: 2px 2px rgb(255, 255, 255);
}

.wide_gallery {
    margin-left: 5vw;
    margin-bottom: 3vw;
}
